<p><em>TODO: Fix this since minetest section has been moved</em></p>
<ul>
<li>
<p><span style="color: #ff0000;">Link the four freedoms to the experience the learner just had in minetest: using, creating, contributing, getting contributions:</span></p>
<ul>
<li><span style="color: #ff0000;">Eg: to be fully free to use or improve a creation, you need to be able to copy it, and be able to do what you want with the copies, including modifying it. If the original author is the only one to decide how the object can be used, changed or copied, then it's always going to be limiting your freedom with it, in some way</span></li>
<li><span style="color: #ff0000;">Changing a copy is distinct from changing the original object, or someone else's -- this is about collaborating on one common object, to get to a better result faster. It requires both parties to agree on a common goal, and to put in place methods to work together.</span></li>
</ul>
</li>
</ul>
<p></p>