<script lang="typescript">
  import {GridWrap, GridWrapModifier, GridColumn, GridColumnModifier} from '$lib/components/grid';
  import {Wrap, WrapModifier} from '$lib/components/wrap';
  import {Island} from '$lib/components/island';
  import {Button} from '$lib/components/button';
  import {urls} from '$lib/data/urls';

  import type {FragmentId} from '$lib/enums/fragment-ids';

  export let fragmentId: FragmentId;
  let submitted = false;

  const submitForm = () => {
    submitted = true;
    return true;
  };
</script>

<section id={fragmentId}>
  <Island>
    <Wrap modifiers={[WrapModifier.Small]}>
      <div class="u-text--center">
        <h3>Stay in touch.</h3>

        <p>
          We are still building the course but would love to keep you updated on our progress!
          Please add your email address below so we can keep in touch.
        </p>

        <GridWrap modifiers={[GridWrapModifier.Center]}>
          <GridColumn baseWidth="1-of-2" viewportMap={{palm: '1-of-1', lap: '2-of-3'}}>
            <form
              style={submitted ? 'display:none' : ''}
              on:submit={submitForm}
              method="POST"
              action={urls.mailingList}
              target="_blank"
            >
              <GridWrap modifiers={[GridWrapModifier.Smaller]}>
                <GridColumn modifiers={[GridColumnModifier.Auto]}>
                  <label class="u-accessibly-hidden" for="email">Email</label>
                  <input type="email" id="email" name="email" placeholder="Email address" />
                </GridColumn>
                <GridColumn modifiers={[GridColumnModifier.ShrinkWrap]}>
                  <Button type="submit">Join</Button>
                </GridColumn>
              </GridWrap>
            </form>
          </GridColumn>
        </GridWrap>

        <GridWrap modifiers={[GridWrapModifier.Center]}>
          <GridColumn baseWidth="2-of-3" viewportMap={{palm: '1-of-1', lap: '2-of-3'}}>
            {#if submitted}
              <div
                style="border: 1px solid #78DEA2; border-radius: 4px; padding: 8px; line-height: 1rem;"
              >
                <small
                  >An email has been sent to confirm your subscription.<br /> Don't see it? Check your
                  spam.</small
                >
              </div>
            {/if}
          </GridColumn>
        </GridWrap>
      </div>
    </Wrap>
  </Island>
</section>
