/*------------------------------------*\
    $TYPOGRAPHIC LINK STATES MIXIN
\*------------------------------------*/
@mixin u-fc--link-states($base-clr, $hover-clr, $active-clr) {
  color: $base-clr;

  &:hover {
    color: $hover-clr;
  }

  @media (hover) {
    &:focus {
      color: $hover-clr;
    }
  }

  &:active {
    color: $active-clr;
  }
}


@mixin u-fc--link-states--primary() {
  @include u-fc--link-states(
    var(--struct-clr-primary),
    var(--struct-clr-primary-dk),
    var(--struct-clr-primary)
  );
}
