/*------------------------------------*\
    SVG TEXT
\*------------------------------------*/
.animated-svg-text {
  display: inline-block;
  position: relative;
  --transition-duration: 1s;
}

  .animated-svg-text__svg {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);

    & svg {
      cursor: text;
      display: block;
      position: relative;
      width: 100%;
      z-index: 5;
    }

    & path,
    & line {
      fill: none;
    }

    &[data-css-state=initial] path,
    &[data-css-state=initial] line {
      stroke-width: 0;
    }

    &[data-css-state=animated] path,
    &[data-css-state=animated] line {
      stroke-width: auto;
      transition: stroke-dashoffset var(--transition-duration) ease-in-out;
    }
  }
  .animated-svg-text__text { }
