/*------------------------------------*\
    WRAP MIXINS
\*------------------------------------*/
$wrap-widths: (
  base: 1080px,
  larger: 1280px,
  large: 1180px,
  small: 880px,
  smaller: 620px,
);

@mixin wrap-margin {
  margin-inline-end: auto;
  margin-inline-start: auto;
}

@mixin wrap-padding {
  @include u-padding--largest--inline;

  @include media-query(palm) {
    @include u-padding--inline;
  }
}

@mixin wrap-base {
  display: table;
  width: 100%;
  @include wrap-margin;
  @include wrap-padding;
}

@mixin wrap-width($name) {
  @if map-has-key($wrap-widths, $name) {
    max-width: map-get($wrap-widths, $name);
  } @else {
    @error "no key #{$name} in #{$wrap-widths}";
  }
}

@mixin wrap($name) {
  @include wrap-base;
  @include wrap-width($name);
}
