/*------------------------------------*\
    FONT COLOR UTILITIES
\*------------------------------------*/
.u-fc--ntrl-min {
  color: var(--struct-clr-grey-lt);
}
a.u-fc--ntrl-min {
  @include u-fc--link-states(
    var(--struct-clr-ntrl-min),
    var(--struct-clr-grey-lt),
    var(--struct-clr-ntrl-min)
  );
}

.u-fc--grey-lt {
  color: var(--struct-clr-grey-lt);
}

.u-fc--primary {
  color: var(--struct-clr-primary);
}
