/*------------------------------------*\
    FORMS
\*------------------------------------*/
label {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

button,
input,
select,
textarea {
  vertical-align: baseline;
}

input,
input[type='search'],
textarea {
  border-radius: 0;
}

input,
textarea {
  @include u-border-radius;
  font-size: px-to-rem($fs-milli);
  border: 1px solid;
  height: auto; // don't apply heights set to inputs
  line-height: normal; // all browsers must use FF's UA !important for consistency
  padding: 0.5em 1em;
  width: 100%;
  background-color: transparent;
}

input[type='radio'],
input[type='checkbox'] {
  width: auto;
}

input::placeholder {
  color: var(--struct-clr-grey-lt);
}

input[type='password'] {
  letter-spacing: 0.3em;
}
// space password to match actual text
input[type='password']::placeholder {
  letter-spacing: 0;
}
